nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: cornflowerblue;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.title-logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.8em;
}

.new-tweet-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.new-tweet-btn .fa-angle-double-down{
  color: darkorange;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav{
    background-color: navy;
    background-image: none;
  }
}